/* @import url(../../../basiccode/reset.css);
나의 작품
body {
  background-color: rgb(227, 247, 255);

  height: 100%;
  text-align: center;
}
form {
  position: absolute;
  width: 300px; height: 450px;
  left: 50%; top: 50%;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgb(190, 190, 190);

  margin-left: -150px;
  margin-top: -225px;
}
a {
  color: black;
}
i {
  color: black;
}
i.bottom-btn1 {
  color: aqua;
}
i.bottom-btn2 {
  color: rgb(41, 255, 137);
}
i.bottom-btn3 {
  color: #ff9df7;
}
i.bottom-btn4 {
  color: #d28fff;
} */

/* Reset */
* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Main Bg */ 
body {
  background-color: #effaff;
}
section {
  background-color: #fff;
  width: 340px;

  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);

  margin: 50px auto;
  padding: 30px;
}

/* Menu */
.menu {
  width: 100%;
}
.menu a:nth-child(1) {
  float: left;
}
.menu a:nth-child(2) {
  float: right;
}
.menu a {
  color: #666;
  font-size: 20px;
}

/* Profile */
.profile {
  width: 100%;
  text-align: center;
}
.profile img {
  width: 200px;
  border-radius: 50%;

  margin-bottom: 20px;
  box-shadow: 5px 15px 30px rgba(173, 216, 230, 0.8);
}

/* Profile > Fonts */
.profile h1 {
  color: #555;
  margin-bottom: 5px;

  font-weight: bold;
  font-size: 22px;
}
.profile h2 {
  color: #bbb;
  margin-bottom: 30px;

  font-weight: normal;
  font-size: 12px;
}

/* Profile > Button */
.btnview {
  display: block;
  background: linear-gradient(45deg, #4affff, #35e0f7);
  box-shadow: 5px 10px 20px rgba(0, 255, 255, 0.4);
  border-radius: 16px;

  font-weight: bold;
  font-size: 15px;
  color: #fff;
  line-height: 32px;

  width: 180px; height: 32px;
  margin: 0 auto;
}

/* Info */
.contact {
  margin: 20px 0;
}
.contact li {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.contact li:last-child {
  border-bottom: none;
}
li i {
  width: 25%;
  margin-left: 10px;
  color: #555;

  text-align: center;
  font-size: 15px;
  text-shadow: 2px 2px 2px #ddd;
}
li span {
  color: #555;
  font-weight: normal;
  font-size: 13px;
  letter-spacing: 1px;
}

/* Member2 */
body.member2 {
  background-color: rgba(231, 255, 245, 0.7);
}
body.member2 .btnview {
  background: linear-gradient(45deg, #c7ffdc, #51ff93);
  box-shadow: 5px 10px 20px rgba(132, 255, 198, 0.4);
}
body.member2 .profile img {
  box-shadow: 5px 15px 30px rgba(132, 255, 198, 0.4);
}

/* Member3 */
body.member3 {
  background-color: rgba(255, 238, 255, 0.7);
}
body.member3 .btnview {
  background: linear-gradient(45deg, #ffeffa, #ff5af1);
  box-shadow: 5px 10px 20px rgba(179, 118, 153, 0.4);
}
body.member3 .profile img {
  box-shadow: 5px 15px 30px rgba(179, 118, 153, 0.4);
}

/* Member4 */
body.member4 {
  background-color: rgba(251, 240, 255, 0.7);
}
body.member4 .btnview {
  background: linear-gradient(45deg, #fbebff, #984aff);
  box-shadow: 5px 10px 20px rgba(201, 120, 255, 0.4);
}
body.member4 .profile img {
  box-shadow: 5px 15px 30px rgba(201, 120, 255, 0.4);
}



/* footer  */
.others {
  width: 100%;
  text-align: center;
}
.others a {
  display: inline-block;
  width: 30px; height: 30px;
  border-radius: 50%;
  margin: auto 10px;
  opacity: 0.4;
  filter: saturate(0.7);
}
.others a.on {
  opacity: 1;
  filter: saturate(1);
}
.others a:nth-child(1) {
  background-color: #35e0f7;
  box-shadow: 5px 5px 10px rgba(74, 255, 255, 0.7);
}
.others a:nth-child(2) {
  background-color: #55f5cd;
  box-shadow: 5px 5px 10px rgba(85, 245, 178, 0.7);
}
.others a:nth-child(3) {
  background-color: #ff80dd;
  box-shadow: 5px 5px 10px rgba(255, 128, 223, 0.7);
}
.others a:nth-child(4) {
  background-color: #a794fd;
  box-shadow: 5px 5px 10px rgba(250, 210, 255, 0.7);
}

