/*전후문자선택자*/
p {
  counter-increment: rint;
}
p::before {
  content: counter(rint) ". ";
}

P::after {
  content: " - " attr(data-page) " page";
}

p::first-letter {
  font-size: 3em;
}

a {
  text-decoration: none;
}

a:visited {
  color: red;
}

a:link::after {
  content: ' - ' attr(href);
}

/*부정선택자*/

input:not([type=password]) {
  background-color: red;
}